/** Reduce card widths on high-res screens. */
@media (min-width: 50em) {
  .overflowPortraitCard,
  .overflowSquareCard {
    width: 16.5vw !important;
  }
}
@media (min-width: 75em) {
  .overflowPortraitCard,
  .overflowSquareCard {
    width: 13.5vw !important;
  }
}

/** Set card style. */
.cardScalable {
  border-radius: 15px;
  overflow: hidden;
  border: 0.5px solid rgba(255, 255, 255, 0.1);
}

/** Make secondary text slightly darker. */
.cardText-secondary {
  opacity: 0.5;
}
