@use "vars";
@use "cards";
@use "buttons";
@use "web-player";
@use "pages/details/details-page.scss";
@use "pages/details/cast.scss";
@use "pages/home-page.scss";

.skinHeader,
html {
  color: #ccc;
  color: rgba(255, 255, 255, 0.7);
}

/** Reduce whitespace at top of page. */
.libraryPage:not(.noSecondaryNavPage) {
  padding-top: 6.5em !important;
}

/** Reduce whitespace in header. */
.withSectionTabs .headerTop {
  padding-bottom: 0;
}

/** Reduce whitespace in header buttons. */
.emby-tab-button {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

/** Make header dark with blurred background effect. */
.skinHeader-withBackground {
  background-color: #101010d0;
  backdrop-filter: blur(15px);
}

@media (min-width: 100em) {
  .headerTabs {
    margin-top: -2.3em !important;
  }
}

.pageTabContent > .padded-top {
  padding-top: 0;
}
.pageTabContent {
  margin-top: -15px;
}
.collapseContent,
.paperList,
.visualCardBox {
  background: none;
}

.fab,
.trackSelections .selectContainer .detailTrackSelect,
.defaultCardBackground4,
.defaultCardBackground3,
.defaultCardBackground2,
.defaultCardBackground1,
#childrenContent .listItem {
  background-color: #30303050 !important;
  backdrop-filter: blur(5px);
}

.fab:hover,
.raised:hover,
#childrenContent .listItem:hover {
  background: #30303090;
  backdrop-filter: blur(5px);
}
.backdropImage {
  filter: blur(2px);
}

.dialog {
  border-radius: 15px !important;
}

.selectionCommandsPanel {
  background: #aa5cc3;
  color: #fff;
}

.itemSelectionPanel {
  border: 1px solid #aa5cc3;
  border-radius: 15px;
}

.checkboxOutline,
.multiSelectCheckboxOutline {
  border-radius: 50% !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
}
.emby-checkbox:checked + span + .checkboxOutline,
.itemProgressBarForeground {
  background-color: #aa5cc3;
}

.emby-input,
.emby-select,
.emby-textarea,
.emby-button {
  border-radius: 10px;
}
